body {
  background-color: #fff;
}

.game-type-header {
  font-size: 1.0 rem;
  width: 100%;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.ticket-header {
  font-size: 18px;
  text-align: left;
  text-shadow: 0 0 3px #807d7d;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-bottom: 2%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 25px #cecbcb;
  font-weight: bold
}

.items:nth-child(6n) {
  background-color: red;
  color: #ffffff;
  font-weight: bold;
}

.ticket-set {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 100%;
}


