<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="game-type-header">
        <h1> {{ results[0].gameType|replace('_', ' ')|title }} </h1>
      </div>
      
      {% for result in results %}
      <div class="ticket-header">
        Ticket #{{ loop.index }}
      </div>
      
      <div class="ticket-set">
    
        {%- for num in result.numset -%}
        <div class="items">  {{ num }} </div>
        {% endfor %}

      </div>
        {% endfor %}      
          
    </div>
    
  </body>
</html>
