<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      {{ results[0].gameType|replace('_', ' ')|title }}
        {% for result in results %}
          <h2 style="color: black"> 
          {%- for num in result.numset[0:5] -%}
            <span class="whiteball"> {{ num }} </span>
        {% endfor %}
          <span class="redball"> {{ result.numset[5] }} </span>
          </h2> 
          <br>
      {% endfor %}
    </div>
  </body>
</html>
